<section id="cta" class="cta text-center">

<div class="container">

<h2>Compra tu carrito hoy</h2>

<p>Oferta limitada</p>

<button 
class="btn btn-warning btn-lg"
data-bs-toggle="modal"
data-bs-target="#compraModal">

Comprar ahora

</button>

</div>

</section>


<!-- MODAL FORMULARIO -->

<div class="modal fade" id="compraModal">

<div class="modal-dialog">

<div class="modal-content">

<div class="modal-header">

<h5 class="modal-title">Datos de compra</h5>

<button class="btn-close" data-bs-dismiss="modal"></button>

</div>


<div class="modal-body">

<form>

<div class="mb-3">

<label class="form-label">Nombre completo</label>

<input type="text" class="form-control" placeholder="Tu nombre">

</div>


<div class="mb-3">

<label class="form-label">Correo</label>

<input type="email" class="form-control" placeholder="correo@email.com">

</div>


<div class="mb-3">

<label class="form-label">Teléfono</label>

<input type="text" class="form-control" placeholder="3000000000">

</div>


<div class="mb-3">

<label class="form-label">Dirección</label>

<input type="text" class="form-control" placeholder="Dirección de entrega">

</div>


<div class="mb-3">

<label class="form-label">Cantidad</label>

<input type="number" class="form-control" value="1">

</div>


<button class="btn btn-warning w-100">

Confirmar compra

</button>

</form>

</div>

</div>

</div>

</div>