<nav class="navbar navbar-expand-lg fixed-top navbar-dark">

<div class="container">

<a class="navbar-brand">Carritos</a>

<button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="menu">

<ul class="navbar-nav ms-auto">

<li class="nav-item">
<a class="nav-link" href="#features">Características</a>
</li>

<li class="nav-item">
<a class="nav-link" href="#reviews">Opiniones</a>
</li>

<li class="nav-item">
  <a href="#cta" class="btn btn-warning ms-3">Comprar</a>
</li>

</ul>

</div>

</div>
</nav>